@using HySound.Models.Track
@model TrackFilterViewModel

<div class="row">
    <div class="col-10">
        <h1>All Tracks</h1>
    </div>
    <div class="col-2">
        <a class="btn-danger" asp-controller="Track" asp-action="AddTrack">Add Track</a>
    </div>
</div>


<form asp-action="AllTracks" method="get">
    <div class="form-group mb-3">
        <label for="GenreId">Genres</label>
        <select asp-for="GenreId" asp-items="Model.Genres">
            <option value="">All Genres</option>
        </select>
    </div>
    <div class="form-group mb-3">
        <label for="Title" >Title</label>
        <input type="text" asp-for="Title" />
    </div>
    <button type="submit">
        Show Results
    </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Duration</th>
            <th scope="col">Genre</th>
            <th scope="col">User</th>
            <th scope="col">Plays</th>
            <th scope="col">AudioUrl</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var track in Model.Tracks)
        {
            <tr>
                <th scope="row">@track.TrackId</th>
                <th scope="row">@track.Title</th>
                <td>@track.Duration</td>
                <td>@track.GenreName</td>
                <td>@track.UserName</td>
                <td>@track.Plays</td>
                <td>@track.AudioUrl</td>
                <td>
                    <a class="btn-info" asp-controller="Track" asp-action="Update" asp-route-id="@track.TrackId">Update</a>
                    <a class="btn-danger" asp-controller="Track" asp-action="Delete" asp-route-id="@track.TrackId">Delete</a>
                </td>
            </tr>
        } 
    </tbody>
</table>